/*****************************
  Counter
*****************************/
.counter {
	position: relative;
	display: flex;
	.counter-icon {
		margin-right: 30px;
		i {
			font-size: 60px;
			line-height: 60px;
			color: $primary;
		}

	}

	.counter-content {
		.timer {
			position: relative;
			font-size: 44px;
			font-weight: 500;
			font-family: $font-hedding;
			color: $gray-8;
			margin-bottom: 10px;
			line-height: 44px;
			display: inline-block;
		}

		.counter-icon-sign {
			font-size: 52px;
			font-weight: 500;
			font-family: $font-hedding;
			color: $gray-8;
			margin-bottom: 10px;
			line-height: 52px;
		}

		label {
			font-size: 16px;
			font-weight: 600;
			display: block;
			margin-bottom: 0;
		}

	}

}

.bg-primary-gradient {
	.counter {
		.counter-icon {
			i {
				background: $gray-9;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				color: $gray-9;
			}

		}

		.counter-content {
			.timer {
				color: $white;
			}

			.counter-icon-sign {
				color: $white;
			}

			label {
				color: $white;
			}

		}

	}

}

.bg-dark-gradient {
	.counter {
		.counter-icon {
			i {
				background: $white;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				color: $white;
			}

		}

		.counter-content {
			.timer {
				color: $white;
			}

			.counter-icon-sign {
				color: $white;
			}

			label {
				color: $white;
			}

		}

	}

}

@media (max-width:1199px) {
	.counter {
		margin-left: 0;

		.counter-icon {
		    margin-right: 10px;
		}
		.counter-content {
			.time{
				font-size: 38px;
				line-height: 38px;
			}
			label{
				font-size: 15px;
			}
		}
	}

}

@media (max-width:991px) {
	.counter {
		.counter-content {
			.timer {
				font-size: 40px;
				line-height: 40px;
			}

			.counter-icon-sign {
				font-size: 40px;
				line-height: 40px;
			}

		}

	}

}

