/*****************************
	Course
*****************************/
.course-item{
	position: relative;
	box-shadow: $box-shadow;
	transition: 0.5s;
	border-radius: $border-radius;
	border: 1px solid $gray-1;
	&:hover{
		transform: translateY(-10px);
	}
	.coures-img{
		position: relative;
		img{
			border-radius: 5px 5px 0 0;
		}
		.course-tag{
			position: absolute;
			top: 10px;
			left: 20px;
			a{
				padding: 2px 12px;
		    background: $primary;
		    border-radius: $border-radius;
		    display: block;
		    color: $white;
		    font-size: 13px;
		    &:hover{
		    	background: $white;
		    	color: $primary;
		    }
			}
		}
	}
	.course-conten{
		padding: 20px;
		position: relative;
		border: 1px solid $gray-1;
		border-top: 0;
		background: $white;
	}
	.course-author{
		img{
			width: 40px;
			height: 40px;
			border-radius: 50px;
			margin-right: 10px;
		}
		span{
			font-weight: 500;
			color:$gray-8;
		}
	}
	.course-meta{
		ul{
			display: flex;
			li{
				padding-right: 10px;
				&:last-child{
					padding-right: 0;
				}
			}
			.price{
				font-size: 16px;
				color: $primary;
				font-weight: 600;
				span{
						color: $gray-4;
				    text-decoration: line-through;
				    font-size: 14px;
				    font-weight: normal;
				}
			}
		}
	}

}

/* review */
.review{
	.review-body{
		.review-rating{
		position: absolute;
    right: 15px;
    top: 5px;
    z-index: 3;
			ul{
				padding-left:0px;
				li{
					list-style: none;
					display: inline-block;
				}
			}
		}
	}
}

/* lecturer-schedule */
.lecturer-schedule{
		ul{
				li{
					width: 100px;
			    display: inline-block;
			    border-right: 1px solid $gray-3;
			    margin-right: 15px;
			    height: 58px;
				}
		}
}

.course-details-lecturer ul li{
	  .lecturer-img{
	    	img{
		      width: 80px;
		      height: 80px;
		      border-radius: $border-radius;
		      margin-right: 20px;
	  		}
		}
	  .lecturer-content{
		  	border-right: 1px solid $gray-3;
		  	padding-right: 20px;
		  	margin-right: 10px;
		  	width: 26%;
	  }
}

.popular-courses {
  .accordion {
    .card {
      margin-bottom: 20px;
      border-radius: 5px;
      .card-header {
        margin-bottom: 0;
        .btn {
          padding: 15px 25px;
          color: #1a2844;
          font-size: 16px;
        }
      }
      .card-body{
        border-top: 2px solid $primary;
        padding: 25px 25px;
        a{
        	display: block;
        	margin-bottom: 5px;
        }
        p{
          margin-bottom: 0;
        }
      }
    }
  }
}


/* Course-said-bar */
.course-sidebar{
    box-shadow: $box-shadow;
    background-color: $white;
    border-radius: $border-radius;
    padding: 40px;
    .widget{
        margin-bottom: 50px;
            .widget-title{
                margin-bottom: 30px;
            }
        .search{
            position: relative;
            .form-control{
                background-color: $white;
                color: $gray-9;
                border: 1px solid $primary;
            }
            i{
                position: absolute;
                right: 0;
                top: 0;
                background:$primary;
                color:  $white;
                padding: 17px 16px;
                cursor: pointer;
                border-radius: $border-radius;
                border-radius:0px $border-radius $border-radius 0px;
            }
        }
        .widget-course{
            ul{
                li{
                  border-bottom:1px solid rgba($gray-3,0.4) ;
                  padding-bottom: 15px;
                  margin-bottom: 25px;
                  a{
                      display:block;
                      color:$gray-8;
                      &:hover{
                          color:$primary;
                      }
                  }
                  &:last-child{
                    margin-bottom: 0;
				            border-bottom: 0;
				            padding-bottom: 0;
                  }
                }
                i{
			  				right: 47px;
			  				position: absolute;
                }
            }
        }
        .recent-posts{
            a{
                font-size: 13px;
                color:$gray-8;
                &:hover{
                    color:$primary;
                }
            }
            .date{
                font-size: 11px;
            }
        }
        .social{
            ul{
                margin-bottom: 0;
                li{
                    display: inline-block;
                    list-style-type:none;
                    padding: 0 15px;
                    a{
                        font-size: 18px;
                        color:$gray-8;
                        &:hover{
                            color:$primary;
                        }
                    }
                    &:last-child{
                        padding-right: 0;
                    }
                    &:first-child{
                        padding-left: 0;
                    }
                }
            }
        }

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.review{
	.review-rating{
		ul{
			padding-left:0px;
			li{
				list-style: none;
				display: inline-block;
			}
		}
	}
}

.widget .progress{
	height: 8px;
	margin-bottom: 15px;
	.progress-bar{
		height: 8px;
	}
}

.widget-categories{
    ul{
      li{
        padding-bottom: 10px;
        margin-bottom: 15px;
          a{
          display:block;
          color:$gray-8;
            &:hover{
              color:$primary;
            }
          }
          &:last-child{
            margin-bottom: 0;
            border-bottom: 0;
            padding-bottom: 0;
          }
    		}
  	}
}

@media (max-width:767px) {

	.course-sidebar{
		padding: 20px;
	}

	.course-sidebar .widget {
    margin-bottom: 30px;
	}

	.course-details-lecturer .lecturer-img{
		margin-bottom: 10px;
	}
	.course-details-lecturer ul li .lecturer-content {
	  border-right: none;
	  padding-right: 0;
	  margin-right: 0;
	  margin-bottom: 10px;
	  width: 100%;
	}
	.lecturer-schedule ul li{
		border-right: 0;
		margin-bottom: 10px;
	}

}

@media (max-width:479px) {
.course-item {
	.course-conten {
	  padding: 20px;
	}
 }
.popular-courses {
  .accordion {
    .card {
      .card-header {
        .btn {
          font-size: 14px;
        }
      }
    }
  }
}
}