/*****************************
  Pricing Table
*****************************/
.pricing-tab {
  text-align: center;
  span {
    vertical-align: middle;
  }
  .yearly-tab {
    font-weight: 700;
    font-size: 18px;
    color: $gray-8;
  }
}

.pricing {
  padding: 50px 30px;
  text-align: center;
  box-shadow: $boxshadow-lg;
  border-radius: $border-radius;
  border-bottom: 5px solid $primary;
  .pricing-title {
    margin-bottom: 20px;
  }
  .pricing-price {
    display: inline-block;
    position: relative;
    color: $primary;
    font-weight: 600;
    margin-top: 30px;
    sup {
      position: absolute;
      top: 15px;
      left: -20px;
      font-size: 24px;
      color: $gray-8;
    }
    strong {
      color: $gray-8;
      font-size: 60px;
      line-height: 60px;
      padding-right: 10px;
      font-weight: 500;
    }
  }

  .change-pricing-price {
    .yearly-price {
      display: block;
    }
  }
  .pricing-list {
    margin-top: 30px;
    margin-bottom: 30px;
    li {
      padding: 6px 0;
      color: $gray-9;
      font-weight: 600;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.pricing.active {
  .pricing-list {
    li {
      color: $white;
    }
  }
  background: $primary;
  color: $white;
  border-top: 5px solid $primary;
  border-bottom: 5px solid $primary;
  .pricing-title {
    color: $white;
  }
  .pricing-price {
    color: $white;
  }
  sup {
    color: $white;
  }
  strong {
    color: $primary;
  }
}