/*****************************
	Social Icon
*****************************/
.social-icon {
	ul {
		display: flex;
		margin: 0;
		padding: 0;

		li {
			list-style-type: none;
			margin-right: 20px;

			a {
				font-size: 14px;
				color: $white;
				display: block;

				&:hover {
					color: $primary;
				}

			}

			&:last-child {
				margin-right: 0;
			}

		}

	}

}

.social-icon.social-icon-style-02 {
	ul{
      padding-left: 0px;
      li{
        display: inline-block;
        list-style: none;
        margin-right: 10px;
        a{
          background: $white;
          padding: 5px 10px 5px 10px;
          border-radius: $border-radius;
          color: $gray-8;
          &:hover{
          	color: $white;
          	background: $primary;
          }
        }
      }
    }

}