/*****************************
	Team
*****************************/
.team {
	text-align: center;
	position: relative;
		img{
			border-radius: $border-radius;
		}
	&:hover {
		.team-img {
			z-index: 9;
			position: relative;
		}
		.team-info {
			z-index: 9;
			position: relative;
			ul {
				opacity: 1;
				top: -15px;
			}
		}
		.team-bg {
			opacity: 1;
			z-index: -99;
		}
	}
	.team-info {
		padding: 35px 0px 35px 0px;
		text-align: center;
		margin: -30px 25px 0;
		box-shadow: $box-shadow;
		background-color: $white;
		border-radius: $border-radius;
		position: relative;
		z-index: 9;
		font-weight: 700;
		margin-bottom: 0;
		transition: all 0.5s ease-in-out;
		display: block;
		color: $gray-8;
		font-size: 18px;
		line-height: 1.2;
		&:hover{
			color: $gray-8;
		}
		.team-name {
			color: $gray-8;
			font-size: 18px;
			font-weight: 800;
			transition: all 0.4s ease-in-out;
			&:hover {
				color: $primary;
			}
		}
		p {
			font-size: 14px;
			transition: all 0.4s ease-in-out;
			margin-bottom: 20px;
		}
		ul {
			display: flex;
			justify-content: center;
			margin-bottom: 0;
			left: 0;
			right: 0;
			transition: all 0.5s ease-in-out;
			li {
				a {
				display: block;
				margin: 0 5px;
		    color: $white;
		    background: $gray-9;
		    line-height: 30px;
		    width: 30px;
		    height: 30px;
		    border-radius: 50%;
		    text-align: center;
					&:hover {
						color: $primary;
						background: $white;
					}
					i{
						font-size: 14px;
					}
				}
			}
		}
	}
	&:hover{
			.team-info{
				background-color: $primary;
				margin-top: -45px;
		}
	}
}

.team:hover .team-info .team-name{
	color: $white;
}
.team:hover .team-info p{
	color: $white;
}


/** team-02 **/
.team-02{
  position: relative;
  overflow: hidden;
  .team-title {
    display: block;
    color: $white;
    font-size: 18px;
    &:hover {
      color: $gray-9;
    }
  }
  .team-img {
    background-size: cover;
    min-height: 249px;
    border-radius: $border-radius;
    background-position: center center;
  }
  .team-info {
    padding: 20px;
    width: 90%;
    position: absolute;
    left: 50%;
    bottom: -90px;
    z-index: 2;
    opacity: 0;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, 0%);
    background: $primary;
    p {
      max-height: 66px;
      overflow: auto;
    }
    .team-social{
      ul{
        padding-left: 0px;
        li{
          display: inline-block;
          list-style: none;
          margin-right: 15px;
          i{
            color: $white;
          }
        }
      }
    }
  }
  &:hover {
    .team-info {
      opacity: 1;
      bottom: 20px;
    }
  }
}

/* team-single */
.team-single{
	.social{
		margin-top: 40px;
		ul{
			li{
				list-style: none;
				display: inline-block;
				a{
					background: $primary;
					color: $white;
					padding: 5px 10px 5px 10px;
					margin-right: 5px;
					border-radius: $border-radius;
				}
			}
		}
	}
}

.sin-pag-img{
	img{
		height: 50px;
	}
}

.list ul{
	li{
		margin-bottom: 15px;
		list-style: none;
		&:last-child{
			margin-bottom: 0;
		}
	}
}


/*************************
  Responsive
*************************/

@media (max-width:991px) {
	.team {
		.team-info{
			  margin: -30px 15px 0;
		}
	}
}